<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some Error Occured!</h1>
    <p>Sorry for the inconvenience occured</p>
<%- include('includes/end.ejs') %>